.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}

.image {
	border-radius: 10px;
	width: 100%;
	height: auto;
}

.nameCard {
	font-weight: bold;
	font-size: 20px;
}
