/* SearchBar.module.css */

.container {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

input[type='search'] {
	padding: 10px;
	width: 200px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.button {
	background-color: #4caf50;
	color: white;
	border: none;
	padding: 10px 20px;
	margin-left: 10px;
	cursor: pointer;
}

.button:hover {
	background-color: #45a049;
}
