.container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	height: 100px;
}

input[type='search'] {
	width: 60%;
	padding: 10px;
	border: none;
	border-radius: 20px;
	transition: box-shadow 0.3s ease;
}

input[type='search']:focus {
	outline: none;
	box-shadow: 0 0 5px #1f618d;
}

.button {
	padding: 10px 20px;
	background-color: #1f618d;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: #15427d;
}
