.container {
	border-radius: 10px;
	background-color: #dbd0d0; /* Cambiamos el color de fondo a gris oscuro */
	color: #1f618d; /* Cambiamos el color de letra a blanco */
	max-width: 250px;
	flex: 0 0 250px; /* Ajusta el ancho según tus necesidades */
	margin-bottom: 20px; /* Espacio entre las cards */
	border: 2px solid #1f618d; /* Color del borde */
	position: relative;
	padding: 10px; /* Agregamos un espacio interno para separar el contenido de los bordes */
	text-align: center; /* Centramos el contenido de la tarjeta horizontalmente */
	transition: background-color 0.3s ease; /* Agregamos una transición suave para el cambio de color de fondo */
}

.container:hover {
	background-color: #f8f8f8; /* Cambiamos el color de fondo al pasar el cursor sobre la tarjeta */
}

.button {
	background-color: #e74c3c; /* Color de fondo del botón */
	color: #ffffff; /* Color de letra del botón */
	transition: background-color 0.3s ease; /* Agregamos una transición suave para el cambio de color de fondo */
}

.button:active {
	background-color: #c0392b; /* Cambiamos el color de fondo al hacer clic en el botón */
}

.name {
	color: #1f618d; /* Cambiamos el color de letra a blanco */
	font-size: 14px; /* Ajusta el tamaño de la letra según tus necesidades */
	font-weight: normal;
	margin-bottom: 5px; /* Ajusta el espaciado inferior entre los elementos <h2> según tus necesidades */
}

.nameCard {
	color: #1f618d; /* Cambiamos el color de letra a blanco */
	font-size: 20px; /* Ajusta el tamaño de la letra según tus necesidades */
	font-weight: bolder;
	margin-bottom: 5px; /* Ajusta el espaciado inferior entre los elementos <h2> según tus necesidades */
}

.nameStatus {
	position: absolute;
	top: 10px; /* Ajusta la posición vertical según tus necesidades */
	right: 10px; /* Ajusta la posición horizontal según tus necesidades */
	background-color: #1f618d;
	color: #ffffff;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 14px; /* Ajusta el tamaño de la letra según tus necesidades */
	font-weight: bold;
}

.image {
	max-width: 100%; /* La imagen ocupará el ancho máximo posible dentro de la card */
	height: auto; /* La altura se ajustará automáticamente en proporción al ancho */
}
