body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: transparent; /* Color transparente para el fondo */
	background-image: url('./assets/background.jpg'); /* Nueva imagen de fondo */
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100% 100vh; /* Abarcar el 100% de la pantalla */
}
